name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - 'k8s/**'

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: npm test
  #테스트 성공 후 도커허브에 이미지 push
  build-and-push:
    needs: test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:latest
            ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:${{github.sha}}
  
  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - name: Update Image tag and Push
        run: |
          sed -i "s|image: ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:.*|image: ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:${{github.sha}}|g" k8s/deployment.yaml
          git config user.name "seongjoon"
          git config user.email "waninokow@gmail.com"
          git add k8s/deployment.yaml
          git commit -m "[skip ci] Update image tag to ${{github.sha}}"
          git push origin main
          




# # push방식
# - uses: actions/checkout@v4
# - name: Deploy to Kubernetes
#   run: | # pull 방식 gitops 방식
#|
#sed -i "s|IMAGE_TAG|${{ github.sha }}|g" k8s/deployment.yaml
#sed -i "s|DOCKER_USERNAME|${{ secrets.DOCKERHUB_USERNAME }}|g" k8s/deployment.yaml
#kubectl apply -f k8s/deployment.yaml

# |
# docker pull ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:latest
# docker stop my-app || true
# docker rm my-app || true
# docker run -d --name my-app -p 3000:3000 ${{secrets.DOCKERHUB_USERNAME}}/hello_server_cicd_test_20251126:latest